In [1]:
import sqlalchemy as sa
%load_ext sql

In [2]:
engine = sa.create_engine('postgresql://postgres:Statistics2025$@localhost:5432/postgres')
%sql postgresql://postgres:Statistics2025$@localhost:5432/NafreesDB

In [3]:
%%sql
SELECT *
FROM bike
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/NafreesDB
5 rows affected.

[('November', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 8, Decimal('45'), Decimal('120'), Decimal('590'), Decimal('360'), Decimal('950'), None),
 ('November', 'M', 'Canada', 'British Columbia', 'Accessories', 'Bike Racks', 8, Decimal('45'), Decimal('120'), Decimal('590'), Decimal('360'), Decimal('950'), None),
 ('March', 'M', 'Australia', 'New South Wales', 'Accessories', 'Bike Racks', 23, Decimal('45'), Decimal('120'), Decimal('1366'), Decimal('1035'), Decimal('2401'), None),
 ('March', 'M', 'Australia', 'New South Wales', 'Accessories', 'Bike Racks', 20, Decimal('45'), Decimal('120'), Decimal('1188'), Decimal('900'), Decimal('2088'), None),
 ('May', 'F', 'Australia', 'New South Wales', 'Accessories', 'Bike Racks', 4, Decimal('45'), Decimal('120'), Decimal('238'), Decimal('180'), Decimal('418'), None)]